.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #6a737d; font-style: italic } /* Comment */
.highlight .err { color: #d73a49} /* Error */
.highlight .k { color: #d73a49; } /* Keyword */
.highlight .o { color: #d73a49} /* Operator */
.highlight .cm { color: #6a737d; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #6a737d } /* Comment.Preproc */
.highlight .c1 { color: #6a737d; font-style: italic } /* Comment.Single */
.highlight .cs { color: #6a737d; } /* Comment.Special */
.highlight .gd { color: #d73a49 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d73a49 } /* Generic.Error */
.highlight .gh { color: #000080; } /* Generic.Heading */
.highlight .gi { color: #22863a } /* Generic.Inserted */
.highlight .go { color: #545454 } /* Generic.Output */
.highlight .gp { color: #000080; } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; } /* Generic.Subheading */
.highlight .gt { color: #d73a49; } /* Generic.Traceback */
.highlight .kc { color: #d73a49; } /* Keyword.Constant */
.highlight .kd { color: #d73a49; } /* Keyword.Declaration */
.highlight .kn { color: #d73a49; } /* Keyword.Namespace */
.highlight .kp { color: #d73a49 } /* Keyword.Pseudo */
.highlight .kr { color: #d73a49; } /* Keyword.Reserved */
.highlight .kt { color: #22863a } /* Keyword.Type */
.highlight .m { color: #005cc5} /* Literal.Number */
.highlight .s { color: #032f62} /* Literal.String */
.highlight .n { color: #1F2328}
.highlight .na { color: #005cc5} /* Name.Attribute */
.highlight .nb { color: #d73a49 } /* Name.Builtin */
.highlight .nc { color: #6f42c1 } /* Name.Class */
.highlight .no { color: #032f62 } /* Name.Constant */
.highlight .nd { color: #d73a49 } /* Name.Decorator */
.highlight .ni { color: #032f62; } /* Name.Entity */
.highlight .ne { color: #032f62; } /* Name.Exception */
.highlight .nf { color: #6f42c1 } /* Name.Function */
.highlight .nl { color: #032f62; } /* Name.Label */
.highlight .nn { color: #032f62; } /* Name.Namespace */
.highlight .nt { color: #d73a49; } /* Name.Tag */
.highlight .nv { color: #032f62 } /* Name.Variable */
.highlight .nx { color: #1F2328 } /* Name.Other */
.highlight .ow { color: #d73a49; } /* Operator.Word */
.highlight .w { color: #c0c0c0 } /* Text.Whitespace */
.highlight .mf { color: #005cc5 } /* Literal.Number.Float */
.highlight .mh { color: #005cc5 } /* Literal.Number.Hex */
.highlight .mi { color: #005cc5 } /* Literal.Number.Integer */
.highlight .mo { color: #005cc5 } /* Literal.Number.Oct */
.highlight .sb { color: #032f62 } /* Literal.String.Backtick */
.highlight .sc { color: #032f62 } /* Literal.String.Char */
.highlight .sd { color: #032f62; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #032f62 } /* Literal.String.Double */
.highlight .se { color: #032f62; } /* Literal.String.Escape */
.highlight .sh { color: #032f62 } /* Literal.String.Heredoc */
.highlight .si { color: #032f62; } /* Literal.String.Interpol */
.highlight .sx { color: #032f62 } /* Literal.String.Other */
.highlight .sr { color: #032f62 } /* Literal.String.Regex */
.highlight .s1 { color: #032f62 } /* Literal.String.Single */
.highlight .ss { color: #032f62 } /* Literal.String.Symbol */
.highlight .bp { color: #d73a49 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #032f62 } /* Name.Variable.Class */
.highlight .vg { color: #032f62 } /* Name.Variable.Global */
.highlight .vi { color: #032f62 } /* Name.Variable.Instance */
.highlight .il { color: #005cc5 } /* Literal.Number.Integer.Long */
